@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
.navbar .container-fluid a{
    color: #ffffff;
}
.navbar .container-fluid .navbar-brand{
    font-family: 'Poppins', sans-serif;
}
.alert .alert-heading{
    font-family: 'Poppins', sans-serif;
}
.alert .btn{
    background: rgb(56, 56, 56);
    border: none;
    /* border-radius: -10%; */
    justify-content: center;
}

.offcanvas-body .dropdown .dropdown-menu li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.offcanvas-body .dropdown .dropdown-menu li:hover{
    background-color: rgb(23, 23, 23);
    color: #ffffff;
}
.offcanvas-body .dropdown .dropdown-menu li a:hover{
    color: #ffffff;
}
.dropdown .btn{
    background: rgb(23, 23, 23);
}
.offcanvas .offcanvas-header a{
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.accordion{
    margin: 0 0 0;
}
.accordion .accordion-item{
    background: rgb(23, 23, 23);    
}
.accordion .accordion-item li{
    color: #ffffff;
}
.accordion .accordion-item li:hover{
    cursor: pointer;
    background: cornsilk;
    color: black;
    display: inline;
}
